<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home Page</title>
    <th:block th:replace="base :: styles"></th:block>
</head>
<body>
<th:block th:replace="base :: header"></th:block>
<main class="container">

    <form action="/action_page.php">
        <div class="mb-3 mt-3">
            <input type="text" class="form-control" placeholder="Từ khóa..." name="kw">
        </div>
        <div class="mb-3 row">
            <div class="col-6">
                <input type="number" class="form-control" placeholder="Giá min..." name="fromPrice"/>
            </div>
            <div class="col-6">
                <input type="number" class="form-control" placeholder="Giá max..." name="toPrice"/>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>John</td>
                <td>Doe</td>
                <td>john@example.com</td>
            </tr>
            <tr>
                <td>Mary</td>
                <td>Moe</td>
                <td>mary@example.com</td>
            </tr>
            <tr>
                <td>July</td>
                <td>Dooley</td>
                <td>july@example.com</td>
            </tr>
        </tbody>
    </table>
</main>
<th:block th:replace="base :: footer"></th:block>
</body>
</html>