<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>QUẢN TRỊ SẢN PHẨM</title>
    <th:block th:replace="base :: styles"></th:block>
</head>
<body>
<th:block th:replace="base :: header"></th:block>

<main class="container">
    <h1 class="text-center mt-1">QUẢN TRỊ SẢN PHẨM</h1>

    <!--/*@thymesVar id="product" type="com.congchuahiep.pojo.Product"*/-->
    <form th:action="@{/products/add}" th:object="${product}" method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Tên sản phẩm</label>
            <input id="name" type="text" class="form-control" th:field="*{name}" placeholder="Tên sản phẩm" required/>
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Giá sản phẩm</label>
            <input id="price" type="number" class="form-control" th:field="*{price}" placeholder="Giá sản phẩm" required />
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">Danh mục sản phẩm</label>
            <select id="category" class="form-control">
                <!--/*@thymesVar id="categories" type="com.congchuahiep.pojo.Category"*/-->
                <option th:each="c:${categories}" th:text="${c}"></option>
            </select>
        </div>
        <div class="mb-3">
            <input type="hidden" th:field="*{id}" />
            <input type="hidden" th:field="*{image}" />

            <button class="btn btn-info">
                <span th:if="${product.id == null}">Thêm sản phẩm</span>
                <span th:unless="${product.id == null}">Cập nhật sản phẩm</span>
            </button>
        </div>
    </form>
</main>

<th:block th:replace="base :: footer"></th:block>
</body>
</html>